html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #F2EADA;
}

nav {
  background-color: #dbaf6d;
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  justify-content: space-between;
}

nav ul li {
  list-style: none;
  flex-grow: 1;
}

nav ul li a {
  display:block;
  padding-left:25px;
  padding-right:25px;
  border-radius: 10px;
  color: #510608;
  text-decoration: none;
  font-size: 18px;
  margin: .25em;
  white-space: nowrap;
}

nav ul li a:hover {
  background-color: #a48555;
}

nav ul li img {
  max-width: 8%;
  margin-top: 3px;
  margin-bottom: 3px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  justify-content: space-between;
  max-width:100%;
  height:100%;
}

main h2{
  padding-bottom: 15px;
}
main .flex-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

main .flex-container article{
  flex-grow:1.5;
  margin:auto;
  height:auto;
  line-height: 1.8;
  max-width: 860px;
  text-align: left;
  margin: 0 10px;
}

main .flex-container aside{
  background-color: 	#bfa28b ;
  border-radius: 10px;
  flex-grow:2;
  max-width: 250px;
  height: auto;
  margin: auto;
  padding: 20px 20px;
  text-align: left;
  padding-top:0px;
  line-height: 1.5;
  margin-left:40px ;
}

main .flex-container aside p, aside ul {
  margin: 0;
}

main .flex-container aside h2{
  padding-top:6px;
  padding-bottom: 6px;
}
main .flex-container aside ul li {
  list-style: none;
}
main article h2 {
  font-size: 35px;
  padding: 0 0;
  margin: 0 0;
}

main .fullwidth img{
  padding-bottom:26px;
  max-width: 1000px;
  position: relative;
  margin: 0px;
  max-width: 46%;
}

footer {
  margin-top: auto;
  padding-top: 26px;
  background-color: #a14a21;
  color: #fff;
  text-align: center;
  padding: 20px 20px;
}

.hidden {
  display: none !important;
}

#originalA:hover{
  opacity: 0.7;
}

#fullimageA {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(72, 72, 72, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

#fullimageA img {
  margin:auto;
  display:block;
  justify-content: center;
  height: auto;
  max-height: 500px;
  flex-grow: 0;
  width: 170px;
  min-width: 740px;
  max-width: 1000px;
}


#fullimageA img:hover{
  color: #bbb;
}

#buttonA {
  position: absolute;
  top: 30px;
  right: 205px;
  font-size: 40px;
  font-weight: bold;
  display: flex;
  position: fixed;
  font-size: 25px;
  background-color: rgba(255, 255, 255, 0.496);
  opacity: 0.7;
  z-index: 3;
  border:none;
  cursor: pointer;
}

#buttonA:hover{
  color: #59010F;
}

.gallery {
  margin-top: 3em;
}
.next-prev .flex-container{
  justify-content: center;
  align-items: center;
  display: flex;
}

.next-prev .flex-container button {
  height: 500px;
  width: 50px;
  background-color:rgb(139, 139, 139);
  outline: none;
}
.next-prev .flex-container button:hover{
  background-color: #5f5f5f;
  cursor: pointer;
}

.next-prev .flex-container picture{
  display: inline-block;
  width: 800px;
  height: 500px;
  background-color: black;
}
.bottom-buttons .flex-container button{
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 1em 0.2em 0;
  outline: none;
  border-radius: 50%;
  background-color: rgb(139, 139, 139);
}
.active{
  background-color: #5f5f5f
}
.bottom-buttons .flex-container button:hover{
  background-color: #5f5f5f;
  cursor: pointer;
}


@media (max-width: 850px) {
  html {
    box-sizing: border-box;
  }

  .hidden {
    display: none !important;
  }

  header div nav ul{
    flex-direction: column;
    text-align: center;
  }

  #header{
    display:flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    position: fixed;
    top: 0;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    background-color: #DABDAD;
    padding: 8px 16px 8px 16px;
  }

  main .fullwidth{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  main .flex-container{
    flex-direction: column;
    text-align: center;
  }

  main. .flex-container aside{
    justify-content: center;
    align-items: center;
    justify-content: space-between;
  }

  #fullimageA{
    z-index:3;
  }
  #fullimageA img {
    max-width: 100%;
    width: 170px;
    min-width: 430px;
    max-width: 560px;
  }

  #buttonA {
    top: 145px;
    right: 25px;
  }
