html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #F2EADA;
}

nav {
  background-color: #dbaf6d;
}

#navbar2 {
  display: flex;
  flex-direction: row;
  z-index: 1;
  position:absolute;
  top: 0;
  justify-content: space-between;
  width: 100%;
  background-color: #dbaf6d;
}

#navbar2 img {
  max-width: 65px;
  max-height: 65px;
  flex-grow: 1;
  margin-left: 15px;
}

#hamburger-menu {
  display: flex;
  flex-direction: column;
}

#hamburger-menu nav {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 60px;
}

#hamburger-menu nav ul {
  display: flex;
  flex-direction: column;
  z-index: 1;
  align-items: end;
  padding: 0;
}

#hamburger {
  position: absolute;
  right: 0;
  margin-top: 15px;
  margin-right: 20px;
  font-size: 24px;
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  justify-content: space-between;
}

nav ul li {
  list-style: none;
  flex-grow: 1;
}

nav ul li a {
  display:block;
  padding-left:25px;
  padding-right:25px;
  border-radius: 10px;
  color: #510608;
  text-decoration: none;
  font-size: 18px;
  margin: .25em;
  white-space: nowrap;
}

nav ul li a:hover {
  background-color: #a48555;
}

nav ul li img {
  max-width: 8%;
  margin-top: 3px;
  margin-bottom: 3px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  justify-content: space-between;
  max-width:100%;
  height:100%;
}

main h2{
  padding-bottom: 15px;
  font-size: 35px;
}
main .flex-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

main .flex-container article{
  flex-grow:1.5;
  margin:auto;
  height:auto;
  line-height: 1.8;
  max-width: 860px;
  text-align: left;
  margin: 0 10px;
}

main .flex-container aside{
  background-color: 	#bfa28b ;
  border-radius: 10px;
  flex-grow:2;
  max-width: 250px;
  height: auto;
  margin: auto;
  padding: 20px 20px;
  text-align: left;
  padding-top:0px;
  line-height: 1.5;
  margin-left:40px ;
  margin-left: auto;
  margin-right: auto;
}

main .flex-container aside p, aside ul {
  margin: 0;
}

main .flex-container aside h2{
  padding-top:6px;
  padding-bottom: 6px;
}
main .flex-container aside ul li {
  list-style: none;
}

main .fullwidth {
  margin-left: 5px;
  margin-right: 5px;
}

main article h2 {
  font-size: 35px;
  padding: 0 0;
  margin: 0 0;
}

main .fullwidth img{
  padding-bottom:26px;
  max-width: 1000px;
  position: relative;
  max-width: 100%;
}

main .image-flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

footer {
  margin-top: auto;
  padding-top: 26px;
  background-color: #a14a21;
  color: #fff;
  text-align: center;
  padding: 20px 20px;
}

.hidden {
  display: none !important;
}

#originalA:hover{
  opacity: 0.7;
}

#fullimageA {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(72, 72, 72, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

#fullimageA img {
  margin:auto;
  display:block;
  justify-content: center;
  height: auto;
  max-height: 500px;
  flex-grow: 0;
  width: 170px;
  min-width: 740px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}


#fullimageA img:hover{
  color: #bbb;
}

#buttonA {
  position: absolute;
  top: 30px;
  right: 205px;
  font-size: 40px;
  font-weight: bold;
  display: flex;
  position: fixed;
  font-size: 25px;
  background-color: rgba(255, 255, 255, 0.496);
  opacity: 0.7;
  z-index: 3;
  border:none;
  cursor: pointer;
}

#buttonA:hover{
  color: #59010F;
}

#originalB:hover{
  opacity: 0.7;
}

#fullimageB {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(72, 72, 72, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

#fullimageB img {
  margin:auto;
  display:block;
  justify-content: center;
  height: auto;
  max-height: 500px;
  flex-grow: 0;
  width: 170px;
  min-width: 740px;
  max-width: 1000px;
}


#fullimageB img:hover{
  color: #bbb;
}

#buttonB {
  position: absolute;
  top: 30px;
  right: 205px;
  font-size: 40px;
  font-weight: bold;
  display: flex;
  position: fixed;
  font-size: 25px;
  background-color: rgba(255, 255, 255, 0.496);
  opacity: 0.7;
  z-index: 3;
  border:none;
  cursor: pointer;
}

#buttonB:hover{
  color: #59010F;
}

#originalC:hover{
  opacity: 0.7;
}

#fullimageC {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(72, 72, 72, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

#fullimageC img {
  margin:auto;
  display:block;
  justify-content: center;
  height: auto;
  max-height: 500px;
  flex-grow: 0;
  width: 170px;
  min-width: 740px;
  max-width: 1000px;
}


#fullimageC img:hover{
  color: #bbb;
}

#buttonC {
  position: absolute;
  top: 30px;
  right: 205px;
  font-size: 40px;
  font-weight: bold;
  display: flex;
  position: fixed;
  font-size: 25px;
  background-color: rgba(255, 255, 255, 0.496);
  opacity: 0.7;
  z-index: 3;
  border:none;
  cursor: pointer;
}

#buttonC:hover{
  color: #59010F;
}

.gallery {
  margin-top: 3em;
  width: 100%;
}

.next-prev .flex-container{
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  max-height: 500px;
}

.next-prev .flex-container button {
  /* height: 100%; */
  /* width: 50px; */
  width: 10%;
  max-width: 50px;
  padding: 18% 1%;
  background-color:rgb(139, 139, 139);
  outline: none;
}
.next-prev .flex-container button:hover{
  background-color: #5f5f5f;
  cursor: pointer;
}

.next-prev .flex-container picture{
  display: inline-block;
  max-width: 800px;
  max-height: 500px;
  width: 100%;
  height: auto;
  background-color: black;
}
.next-prev .flex-container picture img{
  width: 100%;
  height: auto;
  max-height: 500px;
  /* min-width: 350px; */
  max-width: 750px;
}
.bottom-buttons .flex-container button{
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 1em 0.2em 0;
  outline: none;
  border-radius: 50%;
  background-color: rgb(139, 139, 139);
}
.active{
  background-color: #5f5f5f
}
.bottom-buttons .flex-container button:hover{
  background-color: #5f5f5f;
  cursor: pointer;
}
.bottom-buttons .flex-container{
  flex-direction: row;
}
.flex-cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.card {
  display: inline-block;
  width: 200px;
  height: 300px;
  background-color: white;
  align-items: center;
  justify-content: center;
  border-bottom: black solid;
  border-top: black solid;
  border-left: black solid;
  border-right: black solid;
  border-radius: 20px;
  margin: 1em 2em;
}
.card picture img{
  padding-top: 10px;
  max-width: 150px;
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.page-content{
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 3px;
}

.page-content img{
  width:100%;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.accordion-item {
  background-color: #fff;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
}

.accordion-header {
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  width: 100%;
  border: none;
  padding: 10px;
  background-color: #fff;
  font-size: 16pt;

}

.accordion-content {
  /* display: none; */
  padding: 10px;
  line-height: 1.5;
  background-color: #fff;
}

.icon {
  font-size: 20px;
  margin-left: auto;
  transform: rotate(90deg);
  transition: all 0.2s ease;
}

.rotate-icon {
  transform: rotate(-90deg);
}

.hidden {
  display: none !important;
}

@media (max-width: 850px) {
  html {
    box-sizing: border-box;
  }

  header div nav ul{
    flex-direction: column;
    text-align: center;
  }

  #header{
    display:flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    position: fixed;
    top: 0;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    background-color: #DABDAD;
    padding: 8px 16px 8px 16px;
  }

  main .fullwidth{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  main .flex-container{
    flex-direction: column;
    text-align: center;
  }

  main. .flex-container aside{
    justify-content: center;
    align-items: center;
    justify-content: space-between;
  }

  main .image-flex-container {
    flex-direction: column;
    text-align: center;
  }

  #originalA:hover{
    opacity: 1;
  }

  #originalB:hover{
    opacity: 1;
  }

  #originalC:hover{
    opacity: 1;
  }

  #fullimageA {
    display: none;
  }

  #fullimageB {
    display: none;
  }

  #fullimageC {
    display: none;
  }

  #buttonA {
    display: none;
  }

  #buttonB {
    display: none;
  }
  #buttonC {
    display: none;
  }
  #navmenu {
    display: none;
  }

  /* #fullimageA{
    z-index:3;
  }
  #fullimageA img {
    max-width: 100%;
    width: 170px;
    min-width: 430px;
    max-width: 560px;
  }

  #buttonA {
    top: 145px;
    right: 25px;
  }

  #fullimageB{
    z-index:3;
  }
  #fullimageB img {
    max-width: 100%;
    width: 170px;
    min-width: 430px;
    max-width: 560px;
  }

  #buttonB {
    top: 145px;
    right: 25px;
  }
  #fullimageC{
    z-index:3;
  }
  #fullimageC img {
    max-width: 100%;
    width: 170px;
    min-width: 430px;
    max-width: 560px;
  }

  #buttonC {
    top: 145px;
    right: 25px;
  } */
